.backtotop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  animation: show 0.4s ease-in 0s 1;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backtotop svg {
  width: 24px;
  height: 24px;
}
